node_modules
.DS_Store
.idea
.vscode

lib
dist
dist-ssr
docs
coverage
test-results
.pnpm-store
tsconfig.tsbuildinfo

.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

.env
*.local
*.cache
*error.log
*debug.log